@charset "UTF-8";

body {
  margin: 0;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

input,
button,
select,
textarea {
  padding: 0;
  outline: unset;
}

body {
  background-color: #eee;
}

button,
select {
  background-color: white;
  cursor: pointer;
}

@font-face {
  font-family: founder_hard_xing;
  src: url("/fonts/zh_CN/founder_hard_xing.ttf");
}

@font-face {
  font-family: founder_hard_kai;
  src: url("/fonts/zh_CN/founder_hard_kai.ttf");
}

@font-face {
  font-family: founder_thin_jin;
  src: url("/fonts/zh_CN/founder_thin_jin.ttf");
}

@font-face {
  font-family: founder_jinglei;
  src: url("/fonts/zh_CN/founder_jinglei.ttf");
}

@font-face {
  font-family: apple_hei;
  src: url("/fonts/zh_CN/apple_hei.ttf");
}

@font-face {
  font-family: apple_hei_tw;
  src: url("/fonts/zh_TW/apple_hei.ttf");
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

i.add {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 8px;
  font-size: 20px;
  font-weight: bold;
  background-color: green;
  color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

i.add:before {
  content: "\D7";
}

i.close {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 8px;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  color: white;
}

i.close:before {
  content: "\D7";
}

